namespace: arch-homework

image:
  auth: a1ekseyramblerru/auth-service:latest
  profile: a1ekseyramblerru/profile-service:latest

postgres:
  image: postgres:15
  user: user
  password: pass
  db: app

redis:
  image: redis:7
