apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-migrations
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          command: ["psql"]
          args:
            - "-h=$(DB_HOST)"
            - "-U=$(DB_USER)"
            - "-d=$(DB_NAME)"
            - "-f=/migrations/V1__init.sql"
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config
            - secretRef:
                name: {{ .Release.Name }}-secret
